# Data Access

#### You can easily connect to your Hive Tables with CML Data Connections

In [3]:
import cml.data_v1 as cmldata

CONNECTION_NAME = "default-hive"
conn = cmldata.get_connection(CONNECTION_NAME)

## Sample Usage to get pandas data frame
EXAMPLE_SQL_QUERY = "show databases"
dataframe = conn.get_pandas_dataframe(EXAMPLE_SQL_QUERY)
print(dataframe)

## Other Usage Notes:

## Alternate Sample Usage to provide different credentials as optional parameters
#conn = cmldata.get_connection(
#    CONNECTION_NAME, {"USERNAME": "someuser", "PASSWORD": "somepassword"}
#)

## Alternate Sample Usage to get DB API Connection interface
#db_conn = conn.get_base_connection()

## Alternate Sample Usage to get DB API Cursor interface
#db_cursor = conn.get_cursor()
#db_cursor.execute(EXAMPLE_SQL_QUERY)
#for row in db_cursor:
#  print(row)

               database_name
0                    airline
1   airline_ontime_parquet_v
2                airlinedata
3                   airlines
4                       amex
5                     bhagan
6                   bronzedb
7                        cdc
8                       cnav
9                    default
10             demo_accounts
11            demo_datacards
12               demo_people
13              demo_staging
14                   factory
15              finance_demo
16                 frb_demos
17        information_schema
18                       iot
19          jvp_iceberg_tbls
20                    newjar
21               nhs_iceberg
22                parma_demo
23              pharmalytics
24                   pkptest
25             prescribing_p
26           prescribing_p_e
27                    retail
28           rfro_emp_gov_db
29                  sensordb
30                  silverdb
31                 sled_east
32                       sys
33                    testdb
34                   testing
35                  texasppp
36               ukcrime_dev
37                   va_demo
38                  verisign
39                 verisign1
40                     zzeng

In [6]:
EXAMPLE_SQL_QUERY = "select * from default.marketing_campaign_table"
dataframe = conn.get_pandas_dataframe(EXAMPLE_SQL_QUERY)

In [7]:
dataframe

,marketing_campaign_table.name,marketing_campaign_table.street_address,marketing_campaign_table.city,marketing_campaign_table.postcode,marketing_campaign_table.phone_number,marketing_campaign_table.job
0,Jennifer Wells,326 Shields Tunnel Apt. 822,Wadeview,04302,+1-328-484-8753x439,Oceanographer
1,Jessica Kelley,14261 Hayes Pike,Kimberlymouth,27043,001-114-756-0238x910,Analytical chemist
2,Katherine Lane,9532 Mitchell Springs Suite 540,Hillborough,78447,+1-252-941-2155x157,Field seismologist
3,Lauren Delgado,7486 Patricia Walks,Jameschester,88041,(367)416-2355x578,Copy
4,Traci Collins,621 Johnson Greens Apt. 819,West Gabriela,82688,+1-478-398-3203x469,Farm manager
...,...,...,...,...,...,...
994,Dr. Corey Johnson Jr.,392 Leslie Corner,South Troyside,24853,001-989-789-7442x23708,Agricultural engineer
995,Katie Blair,280 Copeland Bypass,South Kendra,37147,+1-211-865-9416x6389,Data scientist
996,Amy Brown,1248 Brianna Spring Suite 341,New Cindy,33590,+1-037-557-4771x1817,Operational investment banker
997,Steven Jones,41572 Galvan Drive Suite 788,Cynthiastad,16323,001-497-497-6163x480,"""Teacher"
998,Roger Brooks,9105 Amanda Drive,Port Deborahside,57227,2607663942,"""Lighting technician"